venv/
__pycache__/
project_N_env/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.env*
venv*/
secrets.json
.vscode/
*.log
*.out
*.tmp
*.bak
*.swp
*.swo
ir_data_files/
irdata/
imgs/
misc/
data/